%roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
%bebas{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}
%galada{
    font-family: 'Galada', cursive;
    font-weight: normal;
}

$textcolor: #212121;
